@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --color-1: #3cb7ff;
  --color-2: #b4e3ff;
  --color-3: #533cff;
  --color-4: #bdb4ff;
  --color-5: #c95200;
  --color-6: #ff8c3c;
  --primary-text-color: var(--color-1);
  --secondary-text-color: var(--color-6);
  --primary-bg-color: var(--color-6);
}

*,
*::after,
*::before,
body {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  word-spacing: 1.5px;
  font-size: 18px;
  line-height: 2;
  padding: 0;
  color: #515257;
  margin: 20px;
}
a {
  text-decoration: none;
  color: #515257;
}
.section {
  margin-bottom: 20px;
}
.section-shadow {
  margin-bottom: 30px;
  box-shadow: inset -2px -2px 6px 0px rgb(0 0 0 / 20%),
    6px 7px 5px 0px rgb(0 0 0 / 20%);
  border-radius: 0.3em;
}

.section-title {
  font-family: "Allura", cursive;
  padding: 25px 0px;
  text-align: center;
  font-size: 50px;
  margin: 0;
}

.sticky {
  position: sticky;
  top: 0;
  height: 60px;
  background: #fff;
  box-shadow: inset -2px -2px 6px 1px rgb(0 0 0 / 10%),
    3px 3px 5px 0px rgb(0 0 0 / 20%);
  border-radius: 10px;
  transition: position 0.2s cubic-bezier(0.4, 0, 1, 1);
  z-index: 2;
}
.header {
  display: none;
  transition: position 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.header ul {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 50px;
  line-height: 50px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.header li {
  text-transform: uppercase;
}
.hoverable a {
  letter-spacing: 2px;
  position: relative;
}
.hoverable a::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 1px;
  background: #b9bfc8;
  left: 0px;
  bottom: -3px;
  z-index: -1;
  transition: all 0.25s ease;
  left: 50%;
  transform: translate(-50%);
}
.hoverable a:hover::after {
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.banner {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: left;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  width: 10em;
  height: 10em;
  background: #c95600;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-100px, -50px);
  box-shadow: inset -2px -2px 6px 1px rgb(0 0 0 / 10%),
    9px 4px 10px 0px rgb(0 0 0 / 20%);
}
.intro-img::after {
  content: "";
  width: 15em;
  height: 15em;
  background: var(--color-1);
  border-radius: 50%;
  right: -50%;
  bottom: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.75;
  filter: blur(0px);
  animation: float 6s ease-in-out infinite;
  box-shadow: inset -2px -2px 6px 1px rgb(0 0 0 / 10%),
    3px 3px 5px 0px rgb(0 0 0 / 20%);
}
.greet {
  font-family: "Bebas Neue", cursive;
  font-size: 1em;
  color: var(--color-2);
}
.myname {
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  color: var(--color-6);
  /* animation: float 6s ease-in-out infinite; */
}

.mydesc {
  font-size: 1rem;
  font-variant: small-caps;
  color: var(--color-1);
  font-weight: bold;
}
.txt-rotate {
  font-size: 1rem;
}
.text-wrap {
  font-size: 1rem;
}
.txt-rotate::after {
  content: "";
  right: 0;
  width: 2px;
  z-index: 3;
  border-right: 1px solid var(--color-1);
  margin-left: 3px;
}
.intro-img {
  width: 50%;
  position: relative;
  align-self: center;
}
.intro-img img {
  width: 100%;
}

.about {
  background-image: linear-gradient(
    to bottom,
    #fcd7ab,
    #ffc4b0,
    #ffb5c7,
    #f3b0e6,
    #bdb4ff
  );
}
.about-me {
  display: flex;
  text-align: center;
  background: url(./images/ll-removebg-preview.png);
  background-repeat: repeat-x;
  background-position: top;
}

.about-me .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 180px;
}
.description img {
  width: 15rem;
  border-radius: 50%;
  margin: 30px auto;
}
.whoami {
  width: 75%;
  padding: 50px 0;
  text-transform: capitalize;
  text-shadow: -1px 1px 8px #f8f8f8;
}

.download-resume {
  margin: 30px auto;
}
.upload {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  border: 2px solid #fff;
  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.2s ease;
  box-shadow: inset 0px 0px 1px 2px var(--color-1);
}
.upload .path {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -36px 0 0 -36px;
  width: 72px;
  height: 72px;
}
.upload .path .download-arrow {
  bottom: 27px;
  width: 2px;
  height: 21px;
  position: absolute;
  left: 50%;
  border-radius: 1px;
  margin: 0 0 0 -1px;
  transform-origin: 50% 100%;
}
.upload .path .download-arrow:before,
.upload .path .download-arrow:after {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  bottom: -2px;
  background: #515257;
  position: absolute;
  border-radius: 1px;
  transform-origin: 50% 100%;
}
.upload .path .download-arrow:before {
  right: 50%;
  transform: rotate(-44deg) translateX(2px);
}
.upload .path .download-arrow:after {
  left: 50%;
  transform: rotate(44deg) translateX(-2px);
}
.upload .path svg {
  width: 72px;
  height: 72px;
  display: block;
  fill: none;
  stroke: #515257;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-dashoffset: 592.73;
  stroke-dasharray: 0 592.73 20 592.73;
}
.upload .circle {
  position: absolute;
  width: 58px;
  height: 58px;
  margin: -29px 0 0 -29px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  overflow: hidden;
}
.upload .circle .water {
  transform: translateY(116%);
  background: var(--color-1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.upload .circle .water svg {
  display: block;
  width: 116px;
  height: 6px;
  position: absolute;
  bottom: 100%;
}
.upload .circle .water svg:nth-child(1) {
  right: 0;
  fill: var(--color-1);
  animation: forward 1.65s infinite;
}
.upload .circle .water svg:nth-child(2) {
  left: 0;
  fill: var(--color-1);
  margin-bottom: -1px;
  animation: backward 0.825s infinite linear;
}
.upload.loading .path {
  animation: movePath 0.4s linear forwards;
}
.upload.loading .path .download-arrow {
  animation: download-arrow 0.5s linear forwards 3.7s;
}
.upload.loading .path .download-arrow:before {
  animation: download-arrowB 0.4s linear forwards,
    download-arrowBCheck 0.5s linear forwards 3.7s;
}
.upload.loading .path .download-arrow:after {
  animation: download-arrowA 0.4s linear forwards,
    download-arrowACheck 0.5s linear forwards 3.7s;
}
.upload.loading .path svg {
  animation: load 3s linear forwards 0.45s, reset 0.7s linear forwards 3.7s;
}
.upload.loading .circle .water {
  animation: fill 3s linear forwards 0.45s;
}
.upload:active {
  transform: scale(0.92) translateZ(0);
}

@keyframes load {
  0% {
    stroke-dashoffset: 592.73;
    stroke-dasharray: 0 592.73 20 592.73;
  }
  42% {
    stroke-dasharray: 0 592.73 80 592.73;
  }
  85% {
    stroke-dashoffset: 80;
    stroke-dasharray: 0 592.73 32 592.73;
  }
  100% {
    stroke-dashoffset: 32;
    stroke-dasharray: 0 592.73 32 592.73;
  }
}
@keyframes reset {
  0%,
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes movePath {
  70% {
    transform: translateY(-10px);
  }
}
@keyframes download-arrow {
  0% {
    background: #000;
    transform: rotate(34deg) translate(-2.5px, 2px);
  }
  40% {
    transform: rotate(-7deg) translate(0, 0);
  }
  99% {
    transform: rotate(0) translate(0, 0);
  }
  100% {
    background: #000;
  }
}
@keyframes download-arrowBCheck {
  0%,
  20% {
    transform: rotate(-86deg) translateX(2px) translateY(1px) scaleY(0.714);
    opacity: 1;
  }
  100% {
    transform: rotate(-44deg) translateX(2px) scaleY(1) translateY(0);
    opacity: 1;
  }
}
@keyframes download-arrowACheck {
  0% {
    transform: rotate(0deg) translate(-1px, -1px);
    opacity: 1;
  }
  40% {
    transform: rotate(60deg) translate(-2px, 1px);
    opacity: 1;
  }
  100% {
    transform: rotate(44deg) translateX(-2px);
    opacity: 1;
  }
}
@keyframes download-arrowB {
  0% {
    transform: rotate(-44deg) translateX(2px);
  }
  60% {
    transform: rotate(-60deg) translateX(2px);
  }
  99% {
    transform: rotate(0deg) translateX(1px);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translateX(1px);
    opacity: 0;
  }
}
@keyframes download-arrowA {
  0% {
    transform: rotate(44deg) translateX(-2px);
  }
  60% {
    transform: rotate(60deg) translateX(-2px);
  }
  99% {
    transform: rotate(0deg) translateX(-1px);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translateX(-1px);
    opacity: 0;
  }
}
@keyframes fill {
  0% {
    transform: translateY(116%);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
@keyframes backward {
  100% {
    transform: translateX(-50%);
  }
}
@keyframes forward {
  100% {
    transform: translateX(50%);
  }
}

body .dribbble {
  position: fixed;
  display: block;
  right: 24px;
  bottom: 24px;
}
body .dribbble img {
  display: block;
  width: 76px;
}

.section.reach-me {
  position: relative;
}

.madewithlove {
  font-size: 15px;
  text-align: center;
}
.social-media {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.social-media .reach-me-at {
  font-size: 35px !important;
  position: relative;
  margin: 0 auto;
}
.reach-me-at .section-title {
  font-size: 35px;
  padding: 10px;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: #000;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.button img {
  width: 50%;
}

.facebook:hover {
  background: #3b5998;
}

.twitter:hover {
  background: #1da1f2;
}

.instagram:hover {
  background: linear-gradient(
    135deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

.github:hover {
  background: #00000080;
}

.linkedin:hover {
  background: #0177b5;
}

.gmail:hover {
  background: #d54a3d;
}

.skills-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  max-width: 1000px;
  margin: 0 auto;
}
.skill {
  text-align: center;
}

.skill img {
  box-shadow: inset -2px -2px 2px 0px rgb(0 0 0 / 20%),
    2px 3px 5px 0px rgb(0 0 0 / 20%);
  padding: 3px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .skills-container {
    grid-template-columns: auto auto;
  }
}

.section.journey {
  color: #515257;
  background-image: linear-gradient(
    to bottom,
    #3cb7ff,
    #00a1ff,
    #0087ff,
    #0068ff,
    #533cff
  );
}

.journey-emoji {
  display: none;
  width: 10rem;
  position: absolute;
  left: 50%;
}

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
  max-width: 1000px;
  transform: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 3px;
  height: 100%;
  margin-left: -3px;
  z-index: 1;
}

.timeline li {
  padding: 1em 0;
  margin-bottom: 30px;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  animation: float 6s ease-in-out infinite;
}

.flag {
  position: relative;

  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  margin-top: -10px;
  background: #f9f9f9;
  border-radius: 10px;
  border: 4px solid #86959c;
  z-index: 1;
}

.direction-r .flag:before {
  left: -37px;
}
.direction-l .flag:before {
  right: -35px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250, 80, 80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  color: #f9f9f9;
  background: #86959c;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

.desc {
  display: flex;
  flex-direction: column;
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  line-height: 1.5em;
  background: #f9f9f9;
  border-radius: 5px;
  padding: 6px 10px;
  box-shadow: inset -2px -2px 6px 0px #ff8c3c,
    12px 14px 5px 0px rgb(0 0 0 / 20%);
  animation: float 6s ease-in-out infinite;
}

.position {
  font-size: 16px;
  font-variant: small-caps;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}
.direction- .desc {
  margin: 1em 0 0 0.75em;
}

@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: rgb(255, 255, 255);
    z-index: 1;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    margin-left: -9px;
    background: #f9f9f9;
    border-radius: 10px;
    border: 4px solid #86959c;
    z-index: 1;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 1;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 1;
  }
}

@media screen and (min-width: 400px) and (max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}

.section.projects {
  color: #515257;
}

.cards-list {
  z-index: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 10px;
}

.card .card_image {
  width: 100%;
  height: 68%;
  border-radius: 50px;
  margin: 0 auto;
}

.card .card_image img {
  position: relative;
  border-radius: 40px;
  object-fit: contain;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  color: #515257;
}
.card_title * {
  margin: 3px;
}

.card:hover {
  box-shadow: 9px 8px 8px 0px rgb(220 220 220);
  background: #fff;
  transform: translate(0px, -5px);
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* new timeline */

.container {
  transition: 0.5s all ease;
  animation: entry 1s linear 1;
}

.container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: 0.5s all ease;
  z-index: 400;
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}
/* new timeline */

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}
/* responsive */

@media only screen and (max-width: 768px) {
  .intro {
    height: 100vh;
  }
}
@media only screen and (min-width: 769px) {
  .header {
    display: block;
  }
  .timeline {
    transform: rotate(45deg) skew(0deg, -30deg) scale(0.8);
  }
  .intro-img {
    width: 40%;
  }

  .banner::before {
    width: 15em;
    height: 15em;
  }
  .myname {
    font-size: 4em;
  }
  .greet,
  .text-wrap {
    font-size: 2em;
  }

  .description img {
    width: 20rem;
  }

  .button {
    width: 4rem;
    height: 4rem;
    margin-right: 1.5em;
    margin-left: 1.5em;
  }
}
@media only screen and (min-width: 1025px) {
  .journey-emoji {
    display: block;
  }
  .timeline {
    transform: rotate(45deg) skew(0deg, -30deg) scale(1);
  }
  .about {
    width: 50%;
    left: 50%;
    transform: translateX(50%);
  }
  .intro {
    flex-direction: row;
  }
  .myname {
    font-size: 8em;
  }
  .greet,
  .text-wrap {
    font-size: 3em;
  }
  .banner::before {
    width: 20em;
    height: 20em;
  }
  .intro-img::after {
    content: "";
    width: 50em;
    height: 50em;
    background: var(--color-1);
    border-radius: 50%;
    right: -20em;
    top: -20em;
    position: absolute;
    z-index: -1;
    opacity: 0.75;
    filter: blur(0px);
    animation: float 6s ease-in-out infinite;
    box-shadow: inset -2px -2px 6px 1px rgb(0 0 0 / 10%),
      3px 3px 5px 0px rgb(0 0 0 / 20%);
  }
}
/* responsive */
